.split  {
    position: fixed;
    width: 50%;
}
.boardRow {
    width: 60%;
    margin: 0 auto;
}
.BoardTile {
    display: inline-block;
    border: 5px solid black;
    width: 50px;
    height: 50px;
}
.TeamO {
    background: url(../Images/O.png);
}
.TeamX {
    background: url(../Images//X.png);
}
